<template name="data">
	<!-- <h2>Tags:</h2>
	{{#each tagSelect}}
		<h2>&nbsp;&nbsp;&nbsp;{{tagId}}</h2>
	{{/each}}
	<h2>Contacts:</h2>
	{{#each contactSelect}}
		<h2>&nbsp;&nbsp;&nbsp;{{contactId}}</h2>
	{{/each}}
	<h2>Current Contact:</h2>
	<h2>&nbsp;&nbsp;&nbsp;{{currentContact}}</h2> -->
	<h2>DATA LOGS</h2>
	<h2>Tags: {{tagCount}}</h2>
	<h2>Contacts: {{contactCount}}</h2>
	<h2>Conversation: {{conversationCount}}</h2>
	<h2>conScrollDir: {{conScrollDir}}</h2>
	<h2>conPivotId: {{conPivotId}}</h2>
	<h2>conPivotDate: {{conPivotDate}}</h2>
	<h2>conPivotOffset: {{conPivotOffset}}</h2>
</template>
