<template name="data">
	<!-- <h2>Tags:</h2>
	{{#each tagSelect}}
		<h2>&nbsp;&nbsp;&nbsp;{{tagId}}</h2>
	{{/each}}
	<h2>Contacts:</h2>
	{{#each contactSelect}}
		<h2>&nbsp;&nbsp;&nbsp;{{contactId}}</h2>
	{{/each}}
	<h2>Current Contact:</h2>
	<h2>&nbsp;&nbsp;&nbsp;{{currentContact}}</h2> -->
	<!-- <h2>DATA LOGS</h2>
	<h2>Tags: {{tagCount}}</h2>
	<h2>Contacts: {{contactCount}}</h2>
	<h2>Current Tag: {{currentTag}}</h2> -->
	<!-- <h2>Remember Me: {{rememberMe}}</h2>
	<h2>Logout Time: {{formatDateTime logoutTime}}</h2> -->
	<h2>Group Created:<br>{{formatDateTime groupCreated}}</h2>
	<h2>Trial Expires:<br>{{formatDateTime freeTrialExpires}}</h2>
</template>
