<!-- <template name="index">

	<header class="toolbar top">
		<div class="toolbox one">{{> headerSearch}}</div>
		<div class="toolbox two">{{> headerToolbar}}</div>
	</header>
		{{> contactImageUpload}}
		<div class="content one">{{> yield region='contentOne'}}</div>
		<div class="content two">{{> yield region='contentTwo'}}</div>
		{{> controls}}{{> action}}
	<footer class="toolbar bottom">
		<div class="toolbox one">{{> yield region='footerOne'}}</div>
		<div class="toolbox two">{{> yield region='footerTwo'}}</div>
	</footer>
	<div class="data">{{> yield region='data'}}</div>

</template> -->
