<template name="officeControlsList">
  <form class="js_beta_form" id="beta_form" action="action">
    <fieldset>
      <div class="select_container">
        <label>Free Trial Period</label>
        <div>
					<div class="col_3of5">
						<div class="input_horizontal_box">
							<input class="free_trial"  name="free_trial" type="text" autocomplete="off" placeholder="Number" value="{{freeTrial}}" />
						</div>
					</div>
					<div class="col_2of5 padding_top_8px">
						Days
					</div>
				</div>
      </div>
    </fieldset>
    <fieldset class="checkbox_container">
      <div class="js_checkbox_bug checkbox listing icn_check {{#unless bugReporting}}unchecked{{/unless}}">
        Bug Reporting
        <input name="bug_field" id="bug_field" type="hidden" value="{{bugReporting}}"/>
      </div>
    </fieldset>
    <fieldset class="checkbox_container">
      <div class="js_checkbox_beta checkbox listing icn_check {{#unless publicBeta}}unchecked{{/unless}}">
        Public Beta
        <input name="beta_field" id="beta_field" type="hidden" value="{{publicBeta}}"/>
      </div>
    </fieldset>
    <fieldset class="hide">
      <a class="btn_green" href="#">Random Extra Button</a>
    </fieldset>
	</form>
</template>
