<template name="officeSupportUpdate">
  <form class="js_update_support_form support_eidtor">
    <fieldset class="upper_input">
      <input id="section_order" name="section_order" placeholder="#" value={{section.section_order}}>
      <input id="section_title" name="section_title" placeholder="Update Section Title" value="{{section.section_title}}">
      <div class="select">
        <span class="arr"></span>
        <select id="section_belongs_to" name="section_belongs_to">
          <option value="none">Top Level</option>
          {{#each options}}
            <option disabled="{{disabled}}" selected="{{selected}}" value="{{_id}}">{{{section_label}}}</option>
          {{/each}}
        </select>
      </div>
    </fieldset>
    <textarea id="section_text" name="section_text" placeholder="Update Section Text">{{section.section_text}}</textarea>

    <input type="submit" value="Submit" class="js_submit offscreen"/>
		<input type="reset" value="Reset" class="js_reset offscreen"/>
  </form>
</template>
