<template name="officeSupportListItem">
  <li id="{{_id}}"><a class="js_support_list_item support_list_item" style="margin-left:{{margin_left}}px;" href="/office/update/{{_id}}">
    <span class="js_support_list_text">{{section_order}} - {{section_title}}</span>
    {{#if section_has}}
      <div class="js_support_list_toggle support_list_toggle">
        <img class="js_support_list_toggle js_list_item_arrow list_item_arrow" src="/img/office/icn-down-arrow-green.svg">
      </div>
    {{/if}}
  </a></li>
  <div class="sub_section hide">
    {{#each sub_sections}}
      {{> officeSupportListItem}}
    {{/each}}
  </div>
</template>
