<template name="login">
	<section>
		<h1>All Natural Contact</h1>
		<h2>Sign in to your account.</h2>
		<span class="js_login_form">
			<form class="login_form pos_relative" id="login_form" action="action">
				<div class="js_form_overlay form_overlay hide">{{> loading}}</div>
				<input class="js_required" type="email" name="login_email" id="login_email" placeholder="Email" value="admin@allnaturalapps.com"/>
				<input class="js_required" type="password" name="login_password" id="login_password" placeholder="Password" value="6578ayanal6578"/>
				<div class="js_checkbox_remember_me checkbox icn_check unchecked">
					Remember me on this computer.
					<input name="remember_me" id="remember_me" type="hidden" value="false"/>
				</div>
				<button class="js_submit btn_login" type="submit" id="login_account">Sign In</button>
			</form>
		</span>
		<div class="login_alert hide"></div>
		<a class="forgot_password" href="{{pathFor 'reset'}}">Forgot/Reset Password</a>
	</section>
</template>
