<template name="passwordNew">
	<section>
		<h1>All Natural Contact</h1>
		<h2>Change your password.</h2>
		<span class="js_reset_form">
			<form class="login_form pos_relative" id="reset_form" action="action">
				<div class="js_form_overlay form_overlay hide">{{> loading}}</div>
				<div class="js_form_overlay form_overlay hide">{{> loading}}</div>
				<input class="js_required" type="password" name="new_account_password" id="new_account_password" placeholder="New Password*"/>
				<input class="js_required" type="password" name="new_account_password_check" id="new_account_password_check" placeholder="Retype New Password*"/>
				<button class="js_submit btn_login" type="submit" id="login_account">Change Password</button>
			</form>
		</span>
		<div class="login_alert hide"></div>
	</section>
</template>
