<template name="reset">
	<section>
		<h1>All Natural Contact</h1>
		<h2>Reset your password.</h2>
		<span class="js_reset_form">
			<form class="login_form pos_relative" id="reset_form" action="action">
				<div class="js_form_overlay form_overlay hide"></div>
				<input class="js_required" type="email" name="login_email" id="login_email" placeholder="Email"/>
				<button class="js_submit btn_login" type="submit" id="login_account">Reset Password</button>
			</form>
		</span>
		<div class="login_alert hide"></div>
		<a class="forgot_password" href="{{pathFor 'reset'}}">Forgot/Reset Password</a>
	</section>
</template>
