#accounts html, body {
  height: 100%;
  overflow: auto;
}

#accounts {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	line-height: 1;
}


#accounts h1 {
	text-align: center;
	font-size: 30px;
	line-height: 90%;
	font-weight: 300;
	margin-top: 36px;
	display: block;
}

#accounts h2 {
	text-align: center;
	font-size: 20px;
	font-weight: 300;
	line-height: 150%;
	padding-bottom: 38px;
}

#accounts h2.width_460 {
	max-width: 460px;
	margin: auto;
	margin: auto;
}

#accounts p {
	line-height: 150%;
}

#accounts .container {
	padding-left: 12px;
	padding-right: 12px;
	padding-bottom: 50px;
	max-width: 1011px;
	margin: 0px auto;
}

#accounts header {
	height: 50px;
	background-color: #294A6C;
	color: #fff;
}

#accounts .sub_header {
	background-color: #E5E5E5;
	border-bottom: 1px solid #CCCCCC;
	height: 49px;
}

#accounts .sub_header .txt_nav {
	text-align: center;
	padding-top: 17px;
	padding-bottom: 18px;
}

#accounts .module {
	margin: 0px 0px;
}

#accounts .logo_sm {
	height: 26px;
	margin-top: 12px;
	padding-right: 9px;
	float: left;
}

#accounts .logo_txt {
	padding-top: 16px;
	display: inline-block;
}

#accounts .nav_header {
	display: none;
	float: right;
}

#accounts .nav_header ul {
	padding: 11px 0px;
	margin-right: -9px;
}

#accounts .nav_header li {
	margin-right: 9px;
	float: left;
}

#accounts .nav_header a {
	color: #fff;
	text-decoration: none;
}

#accounts .nav_header .txt_nav {
	padding: 4px 7px;
	display: inline-block;
}

#accounts .nav_header .icn_nav {
	height: 27px;
	float: left;
}

#accounts .btn_nav_drop {
	height: 20px;
	margin-top: 7px;
	float: right;
}

#accounts .nav_drop {
	overflow: hidden;
	display: none;
}

#accounts .nav_drop ul {
	padding: 0px 20px;
	margin: 0px -20px;
	background-color: #E6ECF2;
	box-shadow: inset 0px 0px 3px #000;
}

#accounts .nav_drop li {
	border-bottom: 1px solid #294A6C;
}

#accounts .nav_drop li:last-child {
	border: none;
}

#accounts .nav_drop a {
	color: #294A6C;
	text-decoration: none;
	padding: 12px 12px;
	display: block;
}

#accounts .nav_drop .icn_nav {
	height: 18px;
	margin-right: 9px;
	float: left;
}

#accounts label {
	margin-bottom: 3px;
	display: block;
}

#accounts .login_form {
	width: 258px;
	margin-right: auto;
	margin-left: auto;
	background-color: #E5E5E5;
	border: 1px solid #CCCCCC;
	border-radius: 7px;
	padding: 18px;
}

#accounts .form_overlay {
	top: 0;
	bottom: 68px;
	left: 0;
	right: 0;
	z-index: 10;
	position: absolute;
	background-color: #fff;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	border-bottom: 1px solid #CCCCCC;
}

#accounts .btn_login {
	background: #294A6C;
	border: none;
	border-radius: 5px;
	color: #fff;
	font-size: 16px;
	font-weight: normal;
	margin: 19px 0 0;
	padding-top: 7px;
	padding-bottom: 7px;
	text-decoration: none;
	width: 100%;
	display: block;
	text-align: center;
}

#accounts .login_form input {
	-webkit-appearance: none;
	border-radius: 3px;
	font-size: 16px;
	font-weight: normal;
	padding: 6px 9px;
	border: 1px solid #A9A9A9;
	margin: 0 0 9px;
	width: 238px;
}

#accounts .login_form input:focus {
	border-color: #6C89A6;
}

#accounts  a.btn_login {
	padding-top: 8px;
	padding-bottom: 8px;
	font-weight: normal;
}

#accounts a.mobile_width {
	width: 260px;
	margin-right: auto;
	margin-left: auto;
}

#accounts .checkbox {
	font-weight: normal;
	color: #000;
}

#accounts .login_divider {
	margin-top: 12px;
	padding-bottom: 15px;
	border-top: 1px solid #5C7A99;
}

.required {
	border-color: red;
}

#accounts .login_alert, #accounts .forgot_password {
	width: 260px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 18px;
	padding-right: 18px;
	padding-left: 18px;
	text-align: center;
	line-height: 125%;
	color: red;
}

#accounts .forgot_password {
	display: block;
	color: #000;
}

#accounts .login_icn {
	height: 108px;
	margin: 45px auto -12px;
	display: block;
}




@media only screen and (min-width: 480px) {
	#accounts .module {
		margin: 0px 9px;
	}

	#accounts .sub_header .txt_nav {
		text-align: right;
	}

	#accounts h1 {
		font-size: 36px;
		margin-top: 54px;
	}

	#accounts h2 {
		font-size: 24px;
	}

	#accounts .login_icn {
		margin: 54px auto -12px;
	}
}

@media only screen and (min-width: 640px) {
	#accounts .nav_header {
		display: block;
	}

	#accounts .btn_nav_drop, #accounts .nav_drop {
		display: none;
	}

	#accounts .btn_nav_drop, #accounts .nav_drop {
		display: none;
	}
}

@media only screen and (min-width: 768px) {
	#accounts .module {
		margin: 0px 27px;
	}
}

@media only screen and (min-width: 960px) {
	#accounts .module {
		margin: 0px 27px;
	}
}
