<template name="labelRelated">

	<div class="js_select dropdown hide">
		<a class="js_option drop_option" data-value="Mother" href="#">Mother<span class="js_check fl_right hide">&#10003;</span></a>
		<a class="js_option drop_option" data-value="Father" href="#">Father<span class="js_check fl_right hide">&#10003;</span></a>
		<a class="js_option drop_option" data-value="Parent" href="#">Parent<span class="js_check fl_right hide">&#10003;</span></a>
		<a class="js_option drop_option" data-value="Brother" href="#">Brother<span class="js_check fl_right hide">&#10003;</span></a>
		<a class="js_option drop_option" data-value="Sister" href="#">Sister<span class="js_check fl_right hide">&#10003;</span></a>
		<a class="js_option drop_option" data-value="Child" href="#">Child<span class="js_check fl_right hide">&#10003;</span></a>
		<a class="js_option drop_option" data-value="Friend" href="#">Friend<span class="js_check fl_right hide">&#10003;</span></a>
		<a class="js_option drop_option" data-value="Spouse" href="#">Spouse<span class="js_check fl_right hide">&#10003;</span></a>
		<a class="js_option drop_option" data-value="Partner" href="#">Partner<span class="js_check fl_right hide">&#10003;</span></a>
		<a class="js_option drop_option" data-value="Assistant" href="#">Assistant<span class="js_check fl_right hide">&#10003;</span></a>
		<a class="js_option drop_option" data-value="Manager" href="#">Manager<span class="js_check fl_right hide">&#10003;</span></a>
		<a class="js_option drop_option" data-value="Other" href="#">Other<span class="js_check fl_right hide">&#10003;</span></a>
		<div class="js_label_custom hide">
			<a class="js_option custom_drop_option" data-value="" href="#"></a>
		</div>
		<div class="drop_custom_label">
			<input class="js_label_custom_input drop_custom_input" type="text" placeholder="Custom Label" name="" value="" />
		</div>

	</div>

</template>
