<template name="labelDays">

	<div class="js_select dropdown increment hide">
		<a class="js_option drop_option" data-value="1" href="#">1<span class="js_check fl_right hide">&#10003;</span></a>
		<a class="js_option drop_option" data-value="2" href="#">2<span class="js_check fl_right hide">&#10003;</span></a>
		<a class="js_option drop_option" data-value="3" href="#">3<span class="js_check fl_right hide">&#10003;</span></a>
		<a class="js_option drop_option" data-value="4" href="#">4<span class="js_check fl_right hide">&#10003;</span></a>
		<a class="js_option drop_option" data-value="5" href="#">5<span class="js_check fl_right hide">&#10003;</span></a>
		<a class="js_option drop_option border_none" data-value="6" href="#">6<span class="js_check fl_right hide">&#10003;</span></a>
	</div>

</template>