<template name="labelMonth">

	<div class="js_select dropdown full hide">
		<a class="js_option drop_option" data-value="01 - January" href="#">01 - January<span class="js_check fl_right hide">&#10003;</span></a>
		<a class="js_option drop_option" data-value="02 - February" href="#">02 - February<span class="js_check fl_right hide">&#10003;</span></a>
		<a class="js_option drop_option" data-value="03 - March" href="#">03 - March<span class="js_check fl_right hide">&#10003;</span></a>
		<a class="js_option drop_option" data-value="04 - April" href="#">04 - April<span class="js_check fl_right hide">&#10003;</span></a>
		<a class="js_option drop_option" data-value="06 - May" href="#">06 - May<span class="js_check fl_right hide">&#10003;</span></a>
		<a class="js_option drop_option" data-value="07 - June" href="#">07 - June<span class="js_check fl_right hide">&#10003;</span></a>
		<a class="js_option drop_option" data-value="08 - July" href="#">08 - July<span class="js_check fl_right hide">&#10003;</span></a>
		<a class="js_option drop_option" data-value="09 - August" href="#">09 - August<span class="js_check fl_right hide">&#10003;</span></a>
		<a class="js_option drop_option" data-value="10 - September" href="#">10 - September<span class="js_check fl_right hide">&#10003;</span></a>
		<a class="js_option drop_option" data-value="11 - October" href="#">11 - October<span class="js_check fl_right hide">&#10003;</span></a>
		<a class="js_option drop_option" data-value="12 - November" href="#">12 - November<span class="js_check fl_right hide">&#10003;</span></a>
	</div>

</template>
