<template name="labelMonth">

	<div class="js_select dropdown full hide">
		<a class="js_option drop_option" data-value="01 - January" href="#">01 - January<span class="js_check fl_right hide">&#10003;</span></a>
		<a class="js_option drop_option" data-value="02 - February" href="#">02 - February<span class="js_check fl_right hide">&#10003;</span></a>
		<a class="js_option drop_option" data-value="03 - March" href="#">03 - March<span class="js_check fl_right hide">&#10003;</span></a>
		<a class="js_option drop_option" data-value="04 - April" href="#">04 - April<span class="js_check fl_right hide">&#10003;</span></a>
		<a class="js_option drop_option" data-value="05 - May" href="#">05 - May<span class="js_check fl_right hide">&#10003;</span></a>
		<a class="js_option drop_option" data-value="06 - June" href="#">06 - June<span class="js_check fl_right hide">&#10003;</span></a>
		<a class="js_option drop_option" data-value="07 - July" href="#">07 - July<span class="js_check fl_right hide">&#10003;</span></a>
		<a class="js_option drop_option" data-value="08 - August" href="#">08 - August<span class="js_check fl_right hide">&#10003;</span></a>
		<a class="js_option drop_option" data-value="09 - September" href="#">09 - September<span class="js_check fl_right hide">&#10003;</span></a>
		<a class="js_option drop_option" data-value="10 - October" href="#">10 - October<span class="js_check fl_right hide">&#10003;</span></a>
		<a class="js_option drop_option" data-value="11 - November" href="#">11 - November<span class="js_check fl_right hide">&#10003;</span></a>
		<a class="js_option drop_option" data-value="12 - December" href="#">12 - December<span class="js_check fl_right hide">&#10003;</span></a>
	</div>

</template>
