<template name="labelTime">

	<div class="js_select js_time_select time_dropdown hide">
		<div class="row">
			<div class="col_1of6">
				<label class="time_label">Hrs</label>
			</div>
			<div class="col_2of3">
				<label class="time_label">Mins</label>
			</div>
			<div class="col_1of6">
				<label class="time_label">Per</label>
			</div>
		</div>
		<div class="row js_time_options time_options">
			<div class="js_time_select hrs time_row_divide">
				<a id="hrs_01" class="js_time_drop_option time_drop_option" href="#">1</a>
				<a id="hrs_02" class="js_time_drop_option time_drop_option" href="#">2</a>
				<a id="hrs_03" class="js_time_drop_option time_drop_option" href="#">3</a>
				<a id="hrs_04" class="js_time_drop_option time_drop_option" href="#">4</a>
				<a id="hrs_05" class="js_time_drop_option time_drop_option" href="#">5</a>
				<a id="hrs_06" class="js_time_drop_option time_drop_option" href="#">6</a>
				<a id="hrs_07" class="js_time_drop_option time_drop_option" href="#">7</a>
				<a id="hrs_08" class="js_time_drop_option time_drop_option" href="#">8</a>
				<a id="hrs_09" class="js_time_drop_option time_drop_option" href="#">9</a>
				<a id="hrs_10" class="js_time_drop_option time_drop_option" href="#">10</a>
				<a id="hrs_11" class="js_time_drop_option time_drop_option" href="#">11</a>
				<a id="hrs_12" class="js_time_drop_option time_drop_option" href="#">12</a>
			</div>
			<div class="js_time_select mins time_row_divide">
				<div class="col_1of5">
					<a id="mins_00" class="js_time_drop_option time_drop_option" href="#">00</a>
					<a id="mins_01" class="js_time_drop_option time_drop_option" href="#">01</a>
					<a id="mins_02" class="js_time_drop_option time_drop_option" href="#">02</a>
					<a id="mins_03" class="js_time_drop_option time_drop_option" href="#">03</a>
					<a id="mins_04" class="js_time_drop_option time_drop_option" href="#">04</a>
					<a id="mins_05" class="js_time_drop_option time_drop_option" href="#">05</a>
					<a id="mins_06" class="js_time_drop_option time_drop_option" href="#">06</a>
					<a id="mins_07" class="js_time_drop_option time_drop_option" href="#">07</a>
					<a id="mins_08" class="js_time_drop_option time_drop_option" href="#">08</a>
					<a id="mins_09" class="js_time_drop_option time_drop_option" href="#">09</a>
					<a id="mins_10" class="js_time_drop_option time_drop_option" href="#">10</a>
					<a id="mins_11" class="js_time_drop_option time_drop_option" href="#">11</a>
				</div>
				<div class="col_1of5">
					<a id="mins_12" class="js_time_drop_option time_drop_option" href="#">12</a>
					<a id="mins_13" class="js_time_drop_option time_drop_option" href="#">13</a>
					<a id="mins_14" class="js_time_drop_option time_drop_option" href="#">14</a>
					<a id="mins_15" class="js_time_drop_option time_drop_option" href="#">15</a>
					<a id="mins_16" class="js_time_drop_option time_drop_option" href="#">16</a>
					<a id="mins_17" class="js_time_drop_option time_drop_option" href="#">17</a>
					<a id="mins_18" class="js_time_drop_option time_drop_option" href="#">18</a>
					<a id="mins_19" class="js_time_drop_option time_drop_option" href="#">19</a>
					<a id="mins_20" class="js_time_drop_option time_drop_option" href="#">20</a>
					<a id="mins_21" class="js_time_drop_option time_drop_option" href="#">21</a>
					<a id="mins_22" class="js_time_drop_option time_drop_option" href="#">22</a>
					<a id="mins_23" class="js_time_drop_option time_drop_option" href="#">23</a>
				</div>
				<div class="col_1of5">
					<a id="mins_24" class="js_time_drop_option time_drop_option" href="#">24</a>
					<a id="mins_25" class="js_time_drop_option time_drop_option" href="#">25</a>
					<a id="mins_26" class="js_time_drop_option time_drop_option" href="#">26</a>
					<a id="mins_27" class="js_time_drop_option time_drop_option" href="#">27</a>
					<a id="mins_28" class="js_time_drop_option time_drop_option" href="#">28</a>
					<a id="mins_29" class="js_time_drop_option time_drop_option" href="#">29</a>
					<a id="mins_30" class="js_time_drop_option time_drop_option" href="#">30</a>
					<a id="mins_31" class="js_time_drop_option time_drop_option" href="#">31</a>
					<a id="mins_32" class="js_time_drop_option time_drop_option" href="#">32</a>
					<a id="mins_33" class="js_time_drop_option time_drop_option" href="#">33</a>
					<a id="mins_34" class="js_time_drop_option time_drop_option" href="#">34</a>
					<a id="mins_35" class="js_time_drop_option time_drop_option" href="#">35</a>
				</div>
				<div class="col_1of5">
					<a id="mins_36" class="js_time_drop_option time_drop_option" href="#">36</a>
					<a id="mins_37" class="js_time_drop_option time_drop_option" href="#">37</a>
					<a id="mins_38" class="js_time_drop_option time_drop_option" href="#">38</a>
					<a id="mins_39" class="js_time_drop_option time_drop_option" href="#">39</a>
					<a id="mins_40" class="js_time_drop_option time_drop_option" href="#">40</a>
					<a id="mins_41" class="js_time_drop_option time_drop_option" href="#">41</a>
					<a id="mins_42" class="js_time_drop_option time_drop_option" href="#">42</a>
					<a id="mins_43" class="js_time_drop_option time_drop_option" href="#">43</a>
					<a id="mins_44" class="js_time_drop_option time_drop_option" href="#">44</a>
					<a id="mins_45" class="js_time_drop_option time_drop_option" href="#">45</a>
					<a id="mins_46" class="js_time_drop_option time_drop_option" href="#">46</a>
					<a id="mins_47" class="js_time_drop_option time_drop_option" href="#">47</a>
				</div>
				<div class="col_1of5">
					<a id="mins_48" class="js_time_drop_option time_drop_option" href="#">48</a>
					<a id="mins_49" class="js_time_drop_option time_drop_option" href="#">49</a>
					<a id="mins_50" class="js_time_drop_option time_drop_option" href="#">50</a>
					<a id="mins_51" class="js_time_drop_option time_drop_option" href="#">51</a>
					<a id="mins_52" class="js_time_drop_option time_drop_option" href="#">52</a>
					<a id="mins_53" class="js_time_drop_option time_drop_option" href="#">53</a>
					<a id="mins_54" class="js_time_drop_option time_drop_option" href="#">54</a>
					<a id="mins_55" class="js_time_drop_option time_drop_option" href="#">55</a>
					<a id="mins_56" class="js_time_drop_option time_drop_option" href="#">56</a>
					<a id="mins_57" class="js_time_drop_option time_drop_option" href="#">57</a>
					<a id="mins_58" class="js_time_drop_option time_drop_option" href="#">58</a>
					<a id="mins_59" class="js_time_drop_option time_drop_option" href="#">59</a>
				</div>
			</div>
			<div class="js_time_select per">
				<a id="per_AM" class="js_time_drop_option time_drop_option" href="#">AM</a>
				<a id="per_PM" class="js_time_drop_option time_drop_option" href="#">PM</a>
			</div>
		</div>
		<div class="row">
			<a href="#" class="js_time_set btn small">Set Time</a>
		</div>
	</div>

</template>