<template name="labelDate">

	<div class="js_select dropdown hide">
		<a class="js_option drop_option" data-value="Birthday" href="#">Birthday<span class="js_check fl_right hide">&#10003;</span></a>
		<a class="js_option drop_option" data-value="Anniversary" href="#">Anniversary<span class="js_check fl_right hide">&#10003;</span></a>
		<a class="js_option drop_option" data-value="Other" href="#">Other<span class="js_check fl_right hide">&#10003;</span></a>
		<div class="js_label_custom hide">
			<a class="js_option custom_drop_option" data-value="" href="#"></a>
		</div>
		<div class="drop_custom_label">
			<input class="js_label_custom_input drop_custom_input" type="text" placeholder="Custom Label" name="" value="" />
		</div>

	</div>

</template>
