<template name="labelYear">

	<div class="js_select dropdown fl_right full hide">
		<a class="js_option drop_option" data-value="2016" href="#">2016<span class="js_check fl_right hide">&#10003;</span></a>
		<a class="js_option drop_option" data-value="2017" href="#">2017<span class="js_check fl_right hide">&#10003;</span></a>
		<a class="js_option drop_option" data-value="2018" href="#">2018<span class="js_check fl_right hide">&#10003;</span></a>
		<a class="js_option drop_option" data-value="2019" href="#">2019<span class="js_check fl_right hide">&#10003;</span></a>
		<a class="js_option drop_option" data-value="2020" href="#">2020<span class="js_check fl_right hide">&#10003;</span></a>
		<a class="js_option drop_option" data-value="2021" href="#">2021<span class="js_check fl_right hide">&#10003;</span></a>
		<a class="js_option drop_option" data-value="2022" href="#">2022<span class="js_check fl_right hide">&#10003;</span></a>
		<a class="js_option drop_option" data-value="2023" href="#">2023<span class="js_check fl_right hide">&#10003;</span></a>
		<a class="js_option drop_option" data-value="2024" href="#">2024<span class="js_check fl_right hide">&#10003;</span></a>
		<a class="js_option drop_option" data-value="2025" href="#">2025<span class="js_check fl_right hide">&#10003;</span></a>
	</div>

</template>
