<template name="footerToolbar">
	<!--<a href="{{pathFor 'dashboard'}}" class="js_tool js_tool_dash tool percent icn_dash"></a>-->
	<a href="#" class="js_tool js_tool_tags tool percent icn_tags"></a>
	<a href="#" class="js_tool js_tool_tags js_tool_tags_back tool percent icn_tag_back hide"></a>
	<a href="#" class="js_tool js_tool_list tool percent icn_contact_list"></a>
	<a href="#" class="js_tool js_tool_search tool percent icn_contact_list_search hide"></a>
	<span class="hide_639">
		<a href="#" class="js_tool js_tool_profile tool percent icn_profile"></a>
		<a href="#" class="js_tool_profile_disabled tool percent icn_profile_disabled"></a>
		<a href="#" class="js_tool js_tool_conversation tool percent icn_conversation"></a>
		<a href="#" class="js_tool_conversation_disabled tool percent icn_conversation_disabled"></a>
		<a href="#" class="js_tool js_tool_process tool percent icn_process"></a>
		<a href="#" class="js_tool_process_disabled tool percent icn_process_disabled"></a>
	</span>
</template>
