<template name="dashboard">
	<div class="toolbar gray">
		<div class="toolbar_img icn_dash_gray"></div>
		<h1>Dashboard</h1>
	</div>
	<div id="dashboard" class="js_contact_info list scroll top_50">
		<!--<div class="js_list_item js_billing list_item divided">Remember: {{currentUser.profile.remember_me}}</div>
		<div class="js_list_item js_billing list_item divided">Logout Time: {{currentUser.profile.logout_time}}</div>-->	
		<div class="js_list_item js_billing list_item divided">Account: {{currentUser.profile.belongs_to_group}}</div>
		<div class="js_list_item js_billing list_item divided">User: {{currentUser.profile.first}} {{currentUser.profile.last}}</div>
		<div class="js_list_item js_billing list_item divided">Timezone: {{currentUser.profile.timezone}}</div>
		<div class="js_list_item js_billing list_item divided">Tags: {{getPublishedCount 'accountTagCount'}}</div>
		<div class="js_list_item js_billing list_item divided">Tagged Contacts: {{getPublishedCount 'taggedCount'}}</div>
		<div class="js_list_item js_billing list_item divided">Contacts: {{getPublishedCount 'accountContactCount'}}</div>
		<div class="js_list_item js_billing list_item divided">Conversation Entries: {{getPublishedCount 'totalConversationCount'}}</div>
		{{#if conversation_date}}<div class="js_list_item js_billing list_item divided">Newest Conversation Entry: {{shortFormatDate conversation_date}}</div>{{/if}}
	</div>
	<span class="js_loader">{{> loading}}</span>
	{{> blankToolbar}}
</template>