<template name="tagInfo">
		<div class="toolbar gray">
			<div class="toolbar_img {{#if allContacts}}icn_standard_gray{{/if}}{{#if tag.standardTagType}}icn_standard_gray{{/if}}{{#if tag.reminderTagType}}icn_reminder_gray{{/if}}{{#if tag.processTagType}}icn_process_gray{{/if}}{{#if tag.milestoneTagType}}icn_milestone_gray{{/if}}"></div>
			<div class="{{#if tag.reminderTagType}}reminder_tag_name_wrap{{else}}fl_left{{/if}}">
				<h1 class="js_tag {{#if tag.reminderTagType}}reminder_tag_name{{else}}tag_name{{/if}} txt_ellipsis" data-tag-belongs="{{#unless allContacts}}{{tag.belongs_to}}{{/unless}}">
				{{#if allContacts}}
					All Contacts
				{{else}}
					{{#if tag.tag}}{{tag.tag}}{{else}}<span class="txt_missing">Tag Name</span>{{/if}}
				{{/if}}
				</h1>
			</div>
			{{#unless tag.reminderTagType}}<a href="#" class="js_tool_alpha tool_alpha {{#unless alphaTool}}inactive{{/unless}}">ABC...  &#9662;</a>{{/unless}}
		</div>

		<div class="js_contact_list list scroll top_50">
			{{#if taggedCount}}
				<button class="js_loading_top_button offscreen"></button>
				<button class="js_loading_bottom_button offscreen"></button>
				<div class="js_loading_top js_list_item list_item divided txt_center hide">&nbsp;</div>
				{{#each contacts}}
					<a id="{{_id}}" data-first="{{first}}" data-last="{{last}}" data-name-first="{{nameFirst}}" data-name-last="{{nameLast}}" class="js_contact_list_item js_list_item js_contact_item list_item divided list_icon multi_select" href="/info/contact/{{_id}}">
						<div class="icon_box
							{{#if latest_conversation_date}}
								{{#if is_company}}
									{{#if overdue}}
										icn_reminder_company_uncheck
									{{else}}
										icn_company_mb
									{{/if}}
								{{else}}
									{{#if overdue}}
										icn_reminder_uncheck
									{{else}}
										icn_profile_mb
									{{/if}}
								{{/if}}
							{{else}}
								{{#if is_company}}
									icn_company_mb
								{{else}}
									icn_profile_mb
								{{/if}}
							{{/if}}
						"></div>
							{{#if is_company}}
								{{#if company}}
									{{company}}
								{{else}}
									<span class="txt_missing">Company</span>
								{{/if}}
							{{else}}
								{{#if first}}
									{{first}}
								{{else}}
									<span class="txt_missing">First</span>
								{{/if}}
								{{#if last}}
									{{last}}
								{{else}}
									<span class="txt_missing">Last</span>
								{{/if}}
							{{/if}}
							{{#if overdue}}<span class="txt_ext_small_gray">({{overdue_by}})</span>{{/if}}
						<a class="js_multi_select_current list_select_current icn_multi_select_current" href="/info/tag/{{currentTag}}"></a>
						<a class="js_multi_select_single list_select_single icn_multi_select_single" href="#"></a>
						<a class="js_multi_select list_select icn_multi_select" href="#"></a>
					</a>
				{{/each}}
				<div class="js_loading_bottom js_list_item list_item txt_center divided_white hide">&nbsp;</div>
			{{else}}
				{{> contactNone}}
			{{/if}}
		</div>

		<span class="js_tag_loader js_loader">{{> loading}}</span>
		{{> blankToolbar}}

		<div class="js_alpha_clone_top clone_container bg_white hide">
			<div class="clone_offset top">
				<div class="js_loading_top js_list_item list_item divided txt_center">&nbsp;</div>
				{{#each contactsScroll}}
				<div class="js_clone_list_item js_list_item list_item divided list_icon multi_select">
					<div class="icon_box
						{{#if latest_conversation_date}}
							{{#if is_company}}
								{{#if overdue}}
									icn_reminder_company_uncheck
								{{else}}
									icn_company_mb
								{{/if}}
							{{else}}
								{{#if overdue}}
									icn_reminder_uncheck
								{{else}}
									icn_profile_mb
								{{/if}}
							{{/if}}
						{{else}}
							{{#if is_company}}
								icn_company_mb
							{{else}}
								icn_profile_mb
							{{/if}}
						{{/if}}
					"></div>
					{{#if is_company}}
						{{#if company}}
							{{company}}
						{{else}}
							<span class="txt_missing">Company</span>
						{{/if}}
					{{else}}
						{{#if first}}
							{{first}}
						{{else}}
							<span class="txt_missing">First</span>
						{{/if}}
						{{#if last}}
							{{last}}
						{{else}}
							<span class="txt_missing">Last</span>
						{{/if}}
					{{/if}}
					{{#if overdue}}<span class="txt_ext_small_gray">({{overdue_by}})</span>{{/if}}
					<a class="js_multi_select_current list_select_current icn_multi_select_current" href="/info/tag/{{currentTag}}"></a>
					<a class="js_multi_select_single list_select_single icn_multi_select_single" href="#"></a>
					<a class="js_multi_select list_select icn_multi_select" href="#"></a>
				</div>
				{{/each}}
			</div>
		</div>

		<div class="js_alpha_clone_bottom clone_container bg_white hide">
			<div class="clone_offset bottom">
				{{#each contactsScroll}}
				<div class="js_clone_list_item js_list_item list_item divided list_icon multi_select">
					<div class="icon_box
						{{#if latest_conversation_date}}
							{{#if is_company}}
								{{#if overdue}}
									icn_reminder_company_uncheck
								{{else}}
									icn_company_mb
								{{/if}}
							{{else}}
								{{#if overdue}}
									icn_reminder_uncheck
								{{else}}
									icn_profile_mb
								{{/if}}
							{{/if}}
						{{else}}
							{{#if is_company}}
								icn_company_mb
							{{else}}
								icn_profile_mb
							{{/if}}
						{{/if}}
					"></div>
					{{#if is_company}}
						{{#if company}}
							{{company}}
						{{else}}
							<span class="txt_missing">Company</span>
						{{/if}}
					{{else}}
						{{#if first}}
							{{first}}
						{{else}}
							<span class="txt_missing">First</span>
						{{/if}}
						{{#if last}}
							{{last}}
						{{else}}
							<span class="txt_missing">Last</span>
						{{/if}}
					{{/if}}
					{{#if overdue}}<span class="txt_ext_small_gray">({{overdue_by}})</span>{{/if}}
					<a class="js_multi_select_current list_select_current icn_multi_select_current" href="/info/tag/{{currentTag}}"></a>
					<a class="js_multi_select_single list_select_single icn_multi_select_single" href="#"></a>
					<a class="js_multi_select list_select icn_multi_select" href="#"></a>
				</div>
				{{/each}}
				<div class="js_loading_bottom js_list_item list_item txt_center divided">&nbsp;</div>
			</div>
		</div>
</template>
