<template name="tagNewStandard">
	
	<input id="standard_tag_type" name="standard_tag_type" type="hidden" autocomplete="off" value="true" />
	<input id="reminder_tag_type" name="reminder_tag_type" type="hidden" autocomplete="off" value="false" />
	<input id="process_tag_type" name="process_tag_type" type="hidden" autocomplete="off" value="false" />
	<input id="milestone_tag_type" name="milestone_tag_type" type="hidden" autocomplete="off" value="false" />

	<div class="toggle_msg hide">Standard tags group contacts who have been added to the tag.</div>
	<fieldset class="input_wrap">
		<div class="input_full">
			<input id="tag" name="tag" type="text" autocomplete="off" placeholder="Standard Tag Name" value="" />
		</div>
	</fieldset>	
	<fieldset class="input_wrap">
		<div class="input_full">
			<div class="js_checkbox_personal_tag checkbox icn_check unchecked">
				Personal Tag
				<input name="personal_tag" id="personal_tag" type="hidden" value="open"/>
			</div>
		</div>
	</fieldset>	
	
</template>