<template name="contactAlpha">
	<div class="js_sheet_alpha list padded gray top_double left_right narrow hide">
		<a id="a" href="#" class="js_tool_lettered tool_lettered percent_20 {{#unless getPublishedCount 'aCount'}}inactive{{/unless}}">A</a>
		<a id="b" href="#" class="js_tool_lettered tool_lettered percent_20 {{#unless getPublishedCount 'bCount'}}inactive{{/unless}}">B</a>
		<a id="c" href="#" class="js_tool_lettered tool_lettered percent_20 {{#unless getPublishedCount 'cCount'}}inactive{{/unless}}">C</a>
		<a id="d" href="#" class="js_tool_lettered tool_lettered percent_20 {{#unless getPublishedCount 'dCount'}}inactive{{/unless}}">D</a>
		<a id="e" href="#" class="js_tool_lettered tool_lettered percent_20 {{#unless getPublishedCount 'eCount'}}inactive{{/unless}}">E</a>
		<a id="f" href="#" class="js_tool_lettered tool_lettered percent_20 {{#unless getPublishedCount 'fCount'}}inactive{{/unless}}">F</a>
		<a id="g" href="#" class="js_tool_lettered tool_lettered percent_20 {{#unless getPublishedCount 'gCount'}}inactive{{/unless}}">G</a>
		<a id="h" href="#" class="js_tool_lettered tool_lettered percent_20 {{#unless getPublishedCount 'hCount'}}inactive{{/unless}}">H</a>
		<a id="i" href="#" class="js_tool_lettered tool_lettered percent_20 {{#unless getPublishedCount 'iCount'}}inactive{{/unless}}">I</a>
		<a id="j" href="#" class="js_tool_lettered tool_lettered percent_20 {{#unless getPublishedCount 'jCount'}}inactive{{/unless}}">J</a>
		<a id="k" href="#" class="js_tool_lettered tool_lettered percent_20 {{#unless getPublishedCount 'kCount'}}inactive{{/unless}}">K</a>
		<a id="l" href="#" class="js_tool_lettered tool_lettered percent_20 {{#unless getPublishedCount 'lCount'}}inactive{{/unless}}">L</a>
		<a id="m" href="#" class="js_tool_lettered tool_lettered percent_20 {{#unless getPublishedCount 'mCount'}}inactive{{/unless}}">M</a>
		<a id="n" href="#" class="js_tool_lettered tool_lettered percent_20 {{#unless getPublishedCount 'nCount'}}inactive{{/unless}}">N</a>
		<a id="o" href="#" class="js_tool_lettered tool_lettered percent_20 {{#unless getPublishedCount 'oCount'}}inactive{{/unless}}">O</a>
		<a id="p" href="#" class="js_tool_lettered tool_lettered percent_20 {{#unless getPublishedCount 'pCount'}}inactive{{/unless}}">P</a>
		<a id="q" href="#" class="js_tool_lettered tool_lettered percent_20 {{#unless getPublishedCount 'qCount'}}inactive{{/unless}}">Q</a>
		<a id="r" href="#" class="js_tool_lettered tool_lettered percent_20 {{#unless getPublishedCount 'rCount'}}inactive{{/unless}}">R</a>
		<a id="s" href="#" class="js_tool_lettered tool_lettered percent_20 {{#unless getPublishedCount 'sCount'}}inactive{{/unless}}">S</a>
		<a id="t" href="#" class="js_tool_lettered tool_lettered percent_20 {{#unless getPublishedCount 'tCount'}}inactive{{/unless}}">T</a>
		<a id="u" href="#" class="js_tool_lettered tool_lettered percent_20 {{#unless getPublishedCount 'uCount'}}inactive{{/unless}}">U</a>
		<a id="v" href="#" class="js_tool_lettered tool_lettered percent_20 {{#unless getPublishedCount 'vCount'}}inactive{{/unless}}">V</a>
		<a id="w" href="#" class="js_tool_lettered tool_lettered percent_20 {{#unless getPublishedCount 'wCount'}}inactive{{/unless}}">W</a>
		<a id="x" href="#" class="js_tool_lettered tool_lettered percent_20 {{#unless getPublishedCount 'xCount'}}inactive{{/unless}}">X</a>
		<a id="y" href="#" class="js_tool_lettered tool_lettered percent_20 {{#unless getPublishedCount 'yCount'}}inactive{{/unless}}">Y</a>
		<a id="z" href="#" class="js_tool_lettered tool_lettered percent_20 {{#unless getPublishedCount 'zCount'}}inactive{{/unless}}">Z</a>
		<a id="currentContact" href="#" class="js_tool_current tool_lettered percent_100 border_top">Currently Selected Contact</a>
	</div>
</template>