<template name="contactFields">
	<div class="js_sheet_fields_cover initial_loading_overlay offset_50 transparent hide">
		<div class="js_sheet_fields scroll list padded gray left_right narrow hide">
			<a id="js_prefix_field" href="#" class="js_tool_fields tool_lettered percent_100 txt_left {{#if contactFields.fields.prefix_field}}inactive{{/if}}">Prefix</a>
			<a id="js_middle_field" href="#" class="js_tool_fields tool_lettered percent_100 border_top txt_left {{#if contactFields.fields.middle_field}}inactive{{/if}}">Middle Name</a>
			<a id="js_suffix_field" href="#" class="js_tool_fields tool_lettered percent_100 border_top txt_left {{#if contactFields.fields.suffix_field}}inactive{{/if}}">Suffix</a>
			
			
			<a id="js_phonetic_field" href="#" class="js_tool_fields tool_lettered percent_100 border_top txt_left {{#if contactFields.fields.phonetic_field}}inactive{{/if}}">Phonetic Name</a>
			<a id="js_nickname_field" href="#" class="js_tool_fields tool_lettered percent_100 border_top txt_left {{#if contactFields.fields.nickname_field}}inactive{{/if}}">Nickname</a>
			<a id="js_maiden_field" href="#" class="js_tool_fields tool_lettered percent_100 border_top txt_left {{#if contactFields.fields.maiden_field}}inactive{{/if}}">Maiden</a>
			
			
			<a id="js_job_title_field" href="#" class="js_tool_fields tool_lettered percent_100 border_top txt_left {{#if contactFields.fields.job_title_field}}inactive{{/if}}">Job Title</a>
			<a id="js_department_field" href="#" class="js_tool_fields tool_lettered percent_100 border_top txt_left {{#if contactFields.fields.department_field}}inactive{{/if}}">Department</a>
			<a id="js_company_field" href="#" class="js_tool_fields tool_lettered percent_100 border_top txt_left {{#if contactFields.fields.company_field}}inactive{{/if}}">Company</a>
			
			
			<a id="js_phone_field" href="#" class="js_tool_fields tool_lettered percent_100 border_top txt_left {{#if contactFields.fields.phone_field}}inactive{{/if}}">Phone</a>
			<a id="js_email_field" href="#" class="js_tool_fields tool_lettered percent_100 border_top txt_left {{#if contactFields.fields.email_field}}inactive{{/if}}">Email</a>
			<a id="js_url_field" href="#" class="js_tool_fields tool_lettered percent_100 border_top txt_left {{#if contactFields.fields.url_field}}inactive{{/if}}">Web</a>
			
			
			<a id="js_date_field" href="#" class="js_tool_fields tool_lettered percent_100 border_top txt_left {{#if contactFields.fields.date_field}}inactive{{/if}}">Dates</a>
			<a id="js_related_field" href="#" class="js_tool_fields tool_lettered percent_100 border_top txt_left {{#if contactFields.fields.related_field}}inactive{{/if}}">Related</a>
			
			<a id="js_immp_field" href="#" class="js_tool_fields tool_lettered percent_100 border_top txt_left {{#if contactFields.fields.immp_field}}inactive{{/if}}">Messaging</a>
			
			<a id="js_address_field" href="#" class="js_tool_fields tool_lettered percent_100 border_top txt_left border_none {{#if contactFields.fields.address_field}}inactive{{/if}}">Address</a>
		</div>
	</div>
</template>