<template name="contactUpdate">
	{{> blankSaving}}
	{{> contactFields}}
	<div class="toolbar gray">
		<div class="toolbar_img icn_edit_contact_gray"></div>
		<h1>Edit Contact</h1>
		<a href="#" class="js_tool_fields tool_date icn_add_field_gray"></a>
	</div>
	<form autocomplete="off" class="js_contact_update_form bg_gray top_50 scroll">
		<!-- Contact Is Company -->
		<fieldset class="js_is_company {{#unless is_company}}hide{{/unless}}">
			<div class="input_wrap">
				<div class="input_one">
					<label class="js_label left">Company</label>
				</div>
				<div class="input_two">
					<span class="js_is_company_container">
						{{#if is_company}}<input class="js_company" name="company" id="company" type="text" autocomplete="off" placeholder="Company" value="{{company}}" />{{/if}}
					</span>
				</div>
			</div>
		</fieldset>

		<!-- Name -->
		<fieldset>
			<div class="input_wrap">
				<div class="input_one">
					<label class="js_label left">Name</label>
				</div>
				<div class="input_two">
					<span class="js_prefix_field {{#unless hasPrefix}}hide{{/unless}}">
						<div class="col_2of5">
							<input name="prefix" id="prefix" type="text" autocomplete="off" placeholder="Prefix" value="{{prefix}}" />
						</div>
						<div class="col_3of5">&nbsp;</div>
					</span>
					<input name="first" id="first" type="text" autocomplete="off" placeholder="First" value="{{first}}" />
					<input  class="js_middle_field {{#unless hasMiddle}}hide{{/unless}}" name="middle" id="middle" type="text" autocomplete="off" placeholder="Middle" value="{{middle}}" />
					<input name="last" id="last" type="text" autocomplete="off" placeholder="Last" value="{{last}}" />
					<span class="js_suffix_field {{#unless hasSuffix}}hide{{/unless}}">
						<div class="col_3of5">&nbsp;</div>
						<div class="col_2of5">
							<input name="suffix" id="suffix" type="text" autocomplete="off" placeholder="Suffix" value="{{suffix}}" />
						</div>
					</span>
				</div>
			</div>
		</fieldset>

		<!-- Phonetic -->
		<fieldset class="js_phonetic_field {{#unless hasPhonetic}}hide{{/unless}}">
			<div class="input_wrap">
				<div class="input_one">
					<label class="js_label left">Phonetic</label>
				</div>
				<div class="input_two">
					<input name="phonetic_first" id="phonetic_first" type="text" autocomplete="off" placeholder="Phonetic First Name" value="{{phonetic_first}}" />
					<input name="phonetic_middle" id="phonetic_middle" type="text" autocomplete="off" placeholder="Phonetic Middle Name" value="{{phonetic_middle}}" />
					<input name="phonetic_last" id="phonetic_last" type="text" autocomplete="off" placeholder="Phonetic Last Name" value="{{phonetic_last}}" />
				</div>
			</div>
		</fieldset>

		<!-- Nickname -->
		<fieldset class="js_nickname_field {{#unless hasNickname}}hide{{/unless}}">
			<div class="input_wrap">
				<div class="input_one">
					<label class="js_label left">Nickname</label>
				</div>
				<div class="input_two">
					<input name="nickname" id="nickname" type="text" autocomplete="off" placeholder="Nickname" value="{{nickname}}" />
				</div>
			</div>
		</fieldset>

		<!-- Maiden -->
		<fieldset class="js_maiden_field {{#unless hasMaiden}}hide{{/unless}}">
			<div class="input_wrap">
				<div class="input_one">
					<label class="js_label left">Maiden</label>
				</div>
				<div class="input_two">
					<input name="maiden" id="maiden" type="text" autocomplete="off" placeholder="Maiden Name" value="{{maiden}}" />
				</div>
			</div>
		</fieldset>

		<!-- Profession -->
		<fieldset class="js_has_profession {{#unless hasProfession}}hide{{/unless}}">
			<div class="input_wrap">
				<div class="input_one">
					<label class="js_label left">Profession</label>
				</div>
				<div class="input_two">
					<input class="input" name="job_title" id="job_title" type="text" autocomplete="off" placeholder="Job Title" value="{{job_title}}" />
					<input class="input" name="department" id="department" type="text" autocomplete="off" placeholder="Department" value="{{department}}" />
					<span class="js_is_not_company_container">
						{{#unless is_company}}<input class="js_company" name="company" id="company" type="text" autocomplete="off" placeholder="Company" value="{{company}}" />{{/unless}}
					</span>
					<div class="js_checkbox_is_company checkbox icn_check {{#unless is_company}}unchecked{{/unless}}">
						Contact is Company
						<input name="is_company" id="is_company" type="hidden" value="{{is_company}}"/>
					</div>
				</div>
			</div>
		</fieldset>

		<!-- Phone -->
		<fieldset id="phone" class="js_paste_input js_phone_field {{#unless hasPhone}}hide{{/unless}}">

			{{#each phones}}
			<div class="js_delete_input js_input js_existing input_wrap">
				<div class="input_one">
					<label class="js_label left"><span class="js_label_txt">{{phone_label}}</span> &#9662;</label>
					<input class="js_input_label" type="hidden" name="phone_label" value="{{phone_label}}" />

					<div class="js_select dropdown hide">
						<div class="js_label_custom hide">
							<a class="js_option custom_drop_option" data-value="" href="#"></a>
						</div>
						{{#each phoneLabel}}
							<a class="js_option drop_option" data-value="{{labelName}}" href="#">{{labelName}}<span class="js_check fl_right hide">&#10003;</span></a>
						{{/each}}
					</div>

				</div>
				<div class="input_two multi_input_adjust">
					<a class="js_input_clear btn_clear icn_clear rounded_right small" href="#"></a>
					<input class="js_multi_input multi_input phone_input"  name="phone" type="text" autocomplete="off" placeholder="Phone" value="{{phone}}" />
					<input type="hidden" name="phone_id" value="{{_id}}"/>
				</div>
			</div>
			{{/each}}

			<div class="js_copy_input js_delete_input js_input input_wrap">
				<div class="input_one">
					<label class="js_label left"><span class="js_label_txt">{{phoneLabel.[0].labelName}}</span> &#9662;</label>
					<input class="js_input_label" type="hidden" name="phone_label" value="{{phoneLabel.[0].labelName}}" />

					<div class="js_select dropdown hide">
						<div class="js_label_custom hide">
							<a class="js_option custom_drop_option" data-value="" href="#"></a>
						</div>
						{{#each phoneLabel}}
							<a class="js_option drop_option" data-value="{{labelName}}" href="#">{{labelName}}<span class="js_check fl_right hide">&#10003;</span></a>
						{{/each}}
					</div>

				</div>
				<div class="input_two multi_input_adjust">
					<a class="js_input_clear btn_clear icn_clear rounded_right small hide" href="#"></a>
					<input class="js_multi_input multi_input phone_input"  name="phone" type="text" autocomplete="off" placeholder="Phone" value="" />
				</div>
			</div>

		</fieldset>

		<!-- Email -->
		<fieldset id="email" class="js_paste_input js_email_field {{#unless hasEmail}}hide{{/unless}}">

			{{#each emails}}
			<div class="js_copy_input js_delete_input js_existing js_input input_wrap">
				<div class="input_one">
					<label class="js_label left"><span class="js_label_txt">{{email_label}}</span> &#9662;</label>
					<input class="js_input_label" type="hidden" name="email_label" value="{{email_label}}" />

					<div class="js_select dropdown hide">
						<div class="js_label_custom hide">
							<a class="js_option custom_drop_option" data-value="" href="#"></a>
						</div>
						{{#each emailLabel}}
							<a class="js_option drop_option" data-value="{{labelName}}" href="#">{{labelName}}<span class="js_check fl_right hide">&#10003;</span></a>
						{{/each}}
					</div>

				</div>
				<div class="input_two multi_input_adjust">
					<a class="js_input_clear btn_clear icn_clear rounded_right small" href="#"></a>
					<input class="js_multi_input multi_input"  name="email" type="text" autocomplete="off" placeholder="Email" value="{{email}}" />
					<input type="hidden" name="email_id" value="{{_id}}"/>
				</div>
			</div>
			{{/each}}

			<div class="js_copy_input js_delete_input js_input input_wrap">
				<div class="input_one">
					<label class="js_label left"><span class="js_label_txt">{{emailLabel.[0].labelName}}</span> &#9662;</label>
					<input class="js_input_label" type="hidden" name="email_label" value="{{emailLabel.[0].labelName}}" />

					<div class="js_select dropdown hide">
						<div class="js_label_custom hide">
							<a class="js_option custom_drop_option" data-value="" href="#"></a>
						</div>
						{{#each emailLabel}}
							<a class="js_option drop_option" data-value="{{labelName}}" href="#">{{labelName}}<span class="js_check fl_right hide">&#10003;</span></a>
						{{/each}}
					</div>

				</div>
				<div class="input_two multi_input_adjust">
					<a class="js_input_clear btn_clear icn_clear rounded_right small hide" href="#"></a>
					<input class="js_multi_input multi_input"  name="email" type="text" autocomplete="off" placeholder="Email" value="" />
				</div>
			</div>

		</fieldset>

		<!-- Website -->
		<fieldset id="url" class="js_paste_input js_url_field {{#unless hasUrl}}hide{{/unless}}">

			{{#each urls}}
			<div class="js_copy_input js_delete_input js_existing js_input input_wrap">
				<div class="input_one">
					<label class="js_label left"><span class="js_label_txt">{{url_label}}</span> &#9662;</label>
					<input class="js_input_label" type="hidden" name="url_label" value="{{url_label}}" />

					<div class="js_select dropdown hide">
						<div class="js_label_custom hide">
							<a class="js_option custom_drop_option" data-value="" href="#"></a>
						</div>
						{{#each urlLabel}}
							<a class="js_option drop_option" data-value="{{labelName}}" href="#">{{labelName}}<span class="js_check fl_right hide">&#10003;</span></a>
						{{/each}}
					</div>

				</div>
				<div class="input_two multi_input_adjust">
					<a class="js_input_clear btn_clear icn_clear rounded_right small" href="#"></a>
					<input class="js_multi_input multi_input"  name="url" type="text" autocomplete="off" placeholder="Website" value="{{url}}" />
					<input type="hidden" name="url_id" value="{{_id}}"/>
				</div>
			</div>
			{{/each}}

			<div class="js_copy_input js_delete_input js_input input_wrap">
				<div class="input_one">
					<label class="js_label left"><span class="js_label_txt">{{urlLabel.[0].labelName}}</span> &#9662;</label>
					<input class="js_input_label" type="hidden" name="url_label" value="{{urlLabel.[0].labelName}}" />

					<div class="js_select dropdown hide">
						<div class="js_label_custom hide">
							<a class="js_option custom_drop_option" data-value="" href="#"></a>
						</div>
						{{#each urlLabel}}
							<a class="js_option drop_option" data-value="{{labelName}}" href="#">{{labelName}}<span class="js_check fl_right hide">&#10003;</span></a>
						{{/each}}
					</div>

				</div>
				<div class="input_two multi_input_adjust">
					<a class="js_input_clear btn_clear icn_clear rounded_right small hide" href="#"></a>
					<input class="js_multi_input multi_input"  name="url" type="text" autocomplete="off" placeholder="Website" value="" />
				</div>
			</div>

		</fieldset>

		<!-- Date -->
		<fieldset id="date" class="js_paste_input js_date_field {{#unless hasDate}}hide{{/unless}}">

			{{#each dates}}
			<div class="js_copy_input js_delete_input js_existing js_input input_wrap">
				<div class="input_one">
					<label class="js_label left"><span class="js_label_txt">{{date_label}}</span> &#9662;</label>
					<input class="js_input_label" type="hidden" name="date_label" value="{{date_label}}" />

					<div class="js_select dropdown hide">
						<div class="js_label_custom hide">
							<a class="js_option custom_drop_option" data-value="" href="#"></a>
						</div>
						{{#each dateLabel}}
							<a class="js_option drop_option" data-value="{{labelName}}" href="#">{{labelName}}<span class="js_check fl_right hide">&#10003;</span></a>
						{{/each}}
					</div>

				</div>
				<div class="input_two multi_input_adjust">
					<a class="js_input_clear btn_clear icn_clear rounded_right small" href="#"></a>
					<input class="js_multi_input js_date_input multi_input" name="date_entry" type="text" autocomplete="off" placeholder="MM/DD/YYYY" value="{{formatDateLong date_entry}}" />
					<input type="hidden" name="date_id" value="{{_id}}"/>
				</div>
			</div>
			{{/each}}
			<div class="js_copy_input js_delete_input js_input input_wrap">
				<div class="input_one">
					<label class="js_label left"><span class="js_label_txt">{{dateLabel.[0].labelName}}</span> &#9662;</label>
					<input class="js_input_label" type="hidden" name="date_label" value="{{dateLabel.[0].labelName}}" />

					<div class="js_select dropdown hide">
						<div class="js_label_custom hide">
							<a class="js_option custom_drop_option" data-value="" href="#"></a>
						</div>
						{{#each dateLabel}}
							<a class="js_option drop_option" data-value="{{labelName}}" href="#">{{labelName}}<span class="js_check fl_right hide">&#10003;</span></a>
						{{/each}}
					</div>

				</div>
				<div class="input_two multi_input_adjust">
					<a class="js_input_clear btn_clear icn_clear rounded_right small hide" href="#"></a>
					<input class="js_multi_input js_date_input multi_input" name="date_entry" type="text" autocomplete="off" placeholder="MM/DD/YYYY" value="" />
				</div>
			</div>

		</fieldset>

		<!-- Related -->
		<fieldset id="related" class="js_paste_input js_related_field {{#unless hasRelated}}hide{{/unless}}">

			{{#each relateds}}
			<div class="js_copy_input js_delete_input js_existing js_input input_wrap">
				<div class="input_one">
					<label class="js_label left"><span class="js_label_txt">{{related_label}}</span> &#9662;</label>
					<input class="js_input_label" type="hidden" name="related_label" value="{{related_label}}" />

					<div class="js_select dropdown hide">
						<div class="js_label_custom hide">
							<a class="js_option custom_drop_option" data-value="" href="#"></a>
						</div>
						{{#each relatedLabel}}
							<a class="js_option drop_option" data-value="{{labelName}}" href="#">{{labelName}}<span class="js_check fl_right hide">&#10003;</span></a>
						{{/each}}
					</div>

				</div>
				<div class="input_two multi_input_adjust">
					<a class="js_input_clear btn_clear icn_clear rounded_right small" href="#"></a>
					<input class="js_multi_input multi_input"  name="related" type="text" autocomplete="off" placeholder="Related Name" value="{{related}}" />
					<input type="hidden" name="related_id" value="{{_id}}"/>
				</div>
			</div>
			{{/each}}
			<div class="js_copy_input js_delete_input js_input input_wrap">
				<div class="input_one">
					<label class="js_label left"><span class="js_label_txt">{{relatedLabel.[0].labelName}}</span> &#9662;</label>
					<input class="js_input_label" type="hidden" name="related_label" value="{{relatedLabel.[0].labelName}}" />

					<div class="js_select dropdown hide">
						<div class="js_label_custom hide">
							<a class="js_option custom_drop_option" data-value="" href="#"></a>
						</div>
						{{#each relatedLabel}}
							<a class="js_option drop_option" data-value="{{labelName}}" href="#">{{labelName}}<span class="js_check fl_right hide">&#10003;</span></a>
						{{/each}}
					</div>

				</div>
				<div class="input_two multi_input_adjust">
					<a class="js_input_clear btn_clear icn_clear rounded_right small hide" href="#"></a>
					<input class="js_multi_input multi_input"  name="related" type="text" autocomplete="off" placeholder="Related Name" value="" />
				</div>
			</div>

		</fieldset>

		<!-- IMMP -->
		<fieldset id="immp" class="js_paste_input js_related_field {{#unless hasRelated}}hide{{/unless}}">

			{{#each immps}}
			<div class="js_copy_input js_delete_input js_existing js_input input_wrap">
				<div class="input_one">
					<label class="js_label left"><span class="js_label_txt">{{immp_label}}</span> &#9662;</label>
					<input class="js_input_label" type="hidden" name="immp_label" value="{{immp_label}}" />

					<div class="js_select dropdown hide">
						<div class="js_label_custom hide">
							<a class="js_option custom_drop_option" data-value="" href="#"></a>
						</div>
						{{#each immpLabel}}
							<a class="js_option drop_option" data-value="{{labelName}}" href="#">{{labelName}}<span class="js_check fl_right hide">&#10003;</span></a>
						{{/each}}
					</div>

				</div>
				<div class="input_two horizontal_2">
					<div class="col_3of5">
						<div class="input_horizontal_box">
							<a class="js_input_clear btn_clear icn_clear rounded_right small" href="#"></a>
							<input class="js_multi_input"  name="immp_user_name" type="text" autocomplete="off" placeholder="IM User Name" value="{{immp_user_name}}" />
						</div>
					</div>
					<div class="col_2of5">
						<div class="input_horizontal_box padding_top_3">
							<label class="js_label"><span class="js_label_txt">{{immp_service}}</span> &#9662;</label>
							<input class="js_input_label" type="hidden" name="immp_service" value="{{immp_service}}" />

							<div class="js_select dropdown hide">
								<div class="js_label_custom hide">
									<a class="js_option custom_drop_option" data-value="" href="#"></a>
								</div>
								{{#each immpServiceLabel}}
									<a class="js_option drop_option" data-value="{{labelName}}" href="#">{{labelName}}<span class="js_check fl_right hide">&#10003;</span></a>
								{{/each}}
							</div>

						</div>
					</div>
				</div>
			</div>
			{{/each}}
			<div class="js_copy_input js_delete_input js_input input_wrap">
				<div class="input_one">
					<label class="js_label left"><span class="js_label_txt">{{immpLabel.[0].labelName}}</span> &#9662;</label>
					<input class="js_input_label" type="hidden" name="immp_label" value="{{immpLabel.[0].labelName}}" />

					<div class="js_select dropdown hide">
						<div class="js_label_custom hide">
							<a class="js_option custom_drop_option" data-value="" href="#"></a>
						</div>
						{{#each immpLabel}}
							<a class="js_option drop_option" data-value="{{labelName}}" href="#">{{labelName}}<span class="js_check fl_right hide">&#10003;</span></a>
						{{/each}}
					</div>

				</div>
				<div class="input_two horizontal_2">
					<div class="col_3of5">
						<div class="input_horizontal_box">
							<a class="js_input_clear btn_clear icn_clear rounded_right small hide" href="#"></a>
							<input class="js_multi_input"  name="immp_user_name" type="text" autocomplete="off" placeholder="IM User Name" value="" />
						</div>
					</div>
					<div class="col_2of5">
						<div class="input_horizontal_box padding_top_3">
							<label class="js_label"><span class="js_label_txt">{{immpServiceLabel.[0].labelName}}</span> &#9662;</label>
							<input class="js_input_label" type="hidden" name="immp_service" value="{{immpServiceLabel.[0].labelName}}" />

							<div class="js_select dropdown hide">
								<div class="js_label_custom hide">
									<a class="js_option custom_drop_option" data-value="" href="#"></a>
								</div>
								{{#each immpServiceLabel}}
									<a class="js_option drop_option" data-value="{{labelName}}" href="#">{{labelName}}<span class="js_check fl_right hide">&#10003;</span></a>
								{{/each}}
							</div>

						</div>
					</div>
				</div>
			</div>

		</fieldset>

		<!-- Address -->
		<fieldset id="address" class="js_paste_input js_address_field {{#unless hasAddress}}hide{{/unless}}">

			{{#each addresses}}
			<div class="js_copy_input js_delete_input js_existing js_input input_wrap">
				<div class="input_one">
					<label class="js_label left"><span class="js_label_txt">{{address_label}}</span> &#9662;</label>
					<input class="js_input_label" type="hidden" name="address_label" value="{{address_label}}" />

					<div class="js_select dropdown hide">
						<div class="js_label_custom hide">
							<a class="js_option custom_drop_option" data-value="" href="#"></a>
						</div>
						{{#each addressLabel}}
							<a class="js_option drop_option" data-value="{{labelName}}" href="#">{{labelName}}<span class="js_check fl_right hide">&#10003;</span></a>
						{{/each}}
					</div>

				</div>
				<div class="input_two multi_input_adjust">
					<a class="js_input_clear btn_clear icn_clear rounded_right small" href="#"></a>
					<input class="js_multi_input multi_input"  name="street" type="text" autocomplete="off" placeholder="Street" value="{{street}}" />
				</div>
				<div class="input_two">
					<input class="js_multi_input"  name="city" type="text" autocomplete="off" placeholder="City" value="{{city}}" />
					<input type="hidden" name="address_id" value="{{_id}}"/>
				</div>
				<div class="input_two horizontal_2">
					<div class="col_2of5">
						<div class="input_horizontal_box">
							<input class="js_multi_input"  name="state" type="text" autocomplete="off" placeholder="State" value="{{state}}" />
						</div>
					</div>
					<div class="col_3of5">
						<div class="input_horizontal_box bottom_pad_12">
							<input class="js_multi_input"  name="postal_code" type="text" autocomplete="off" placeholder="Zip" value="{{postal_code}}" />
						</div>
					</div>
				</div>
			</div>
			{{/each}}

			<div class="js_copy_input js_delete_input js_input input_wrap">
				<div class="input_one">
					<label class="js_label left"><span class="js_label_txt">Work</span> &#9662;</label>
					<input class="js_input_label" type="hidden" name="address_label" value="Work" />

					<div class="js_select dropdown hide">
						<div class="js_label_custom hide">
							<a class="js_option custom_drop_option" data-value="" href="#"></a>
						</div>
						{{#each addressLabel}}
							<a class="js_option drop_option" data-value="{{labelName}}" href="#">{{labelName}}<span class="js_check fl_right hide">&#10003;</span></a>
						{{/each}}
					</div>

				</div>
				<div class="input_two multi_input_adjust">
					<a class="js_input_clear btn_clear icn_clear rounded_right small hide" href="#"></a>
					<input class="js_multi_input multi_input"  name="street" type="text" autocomplete="off" placeholder="Street" value="" />
				</div>
				<div class="input_two">
					<input class="js_multi_input"  name="city" type="text" autocomplete="off" placeholder="City" value="" />
				</div>
				<div class="input_two horizontal_2">
					<div class="col_2of5">
						<div class="input_horizontal_box">
							<input class="js_multi_input"  name="state" type="text" autocomplete="off" placeholder="State" value="" />
						</div>
					</div>
					<div class="col_3of5">
						<div class="input_horizontal_box bottom_pad_12">
							<input class="js_multi_input"  name="postal_code" type="text" autocomplete="off" placeholder="Zip" value="" />
						</div>
					</div>
				</div>
			</div>

		</fieldset>

		<input type="submit" value="Submit" class="js_submit offscreen"/>

	</form>

</template>
