<template name="contact">
  <article>
    <div class="contact_article_wrap">
      <header>
        <h1 class="with_sub">Drop us a line.</h1>
    		<h2>We'd love to hear from you.</h2>
      </header>
      <section class="inserted_section">
        <img class="icn_site_email" alt="Email icon." src="/img/site/icn-email.svg">
        <h2>Need some help?</h2>
        <p>If you have questions about All Natural Contact or the account creation process you can send a support email and we will get right back to you.</p>
        <a class="email_cta" href="#">help@allnaturalcontact.com</a>
      </section>
      <section class="inserted_section">
        <h2>Something else on your mind?</h2>
        <p>We love hearing from our customers. If you have thoughts or suggestions about All Natural Contact please don't hesitat to share. Drop us a line. We'd love to hear from you.</p>
        <a class="email_cta" href="#">feedback@allnaturalcontact.com</a>
      </section>
    </div>
  </article>
</template>
