<template name="home">

	<section>
		<div class="section_wrap">
			<h1>Introducing All Natural Contact.</h1>
			<h2>The naturally intuitive CRM.</h2>
			<a class="cta" href="{{pathFor 'register'}}">Create A Free Account</a>
			<p class="cta_caption">Currently in Beta Version 0.9.0. Free acounts will transition to paid accounts when we move from beta to 1.0. You will be notified.</p>
		</div>
	</section>

	<div class="outer_zig_zag">
		<div class="inner_zig_zag">
			<div class="zig_zag">
				<div class="container">
					<img alt="All Natural Contact CRM video." src='/img/site/contact-video-cover.jpg' class="zig_zag_video">
				</div>
				<div class="skew_left"></div>
				<div class="skew_right"></div>
			</div>
		</div>
	</div>
	<div class="zig_zag_buffer"></div>

	<article>
		<div class="article_wrap">
			<h1>The web app that doesn't<span class="break_960"><br></span> feel like a web app.</h1>
			<img alt="All Natural Contact CRM conversation log" class="img_interface full left" src="/img/site/anc-interface-contact-1024.svg">
			<div class="article_text right flush">
		    <img alt="Intuative Interface icon." src="/img/site/icn-intuative-interface.svg">
		    <h2>Intuative Interface</h2>
		    <p>Web apps can be clunky, slow and confusing. All Natural Contact is none of these things. No matter what device you’re using (phone, tablet, laptop or desktop) the interface is clean, crisp, fast and most importantly - intuitive. All Natural Contact combines the “data everywhere” power of a web app with the familiar interface conventions of a native app.</p>
			</div>
			<img alt="All Natural Contact CRM conversation log" class="img_interface_mobile" src="/img/site/anc-interface-contact-320mobile.svg">
		</div>
  </article>

  <article>
		<div class="article_wrap">
	    <h1>Find it fast - very fast.</h1>
			<div class="article_text left">
				<img alt="Powerful Search icon." src="/img/site/icn-powerful-search.svg">
		    <h2>Powerful Search</h2>
		    <p>Retrieving your contacts quickly is key to a productive workflow. That’s why we built Elasticsearch into All Natural Contact. Elasticsearch technology is used by Wikipedia, Netflix, Uber and many more. We’re putting it into your hands to find clients using whatever data you have - name,  number, address, email, etc. etc. etc.</p>
			</div>
			<div class="img_interface partial right">
				<img alt="All Natural Contact CRM powerful search." src="/img/site/anc-interface-search-1024.svg">
			</div>
			<img alt="All Natural Contact CRM powerful search." class="img_interface_mobile" src="/img/site/anc-interface-search-320mobile.svg">
		</div>
  </article>

	<article>
		<div class="article_wrap">
	    <h1>More than just a name<span class="break_768"><br></span> and a number.</h1>
			<div class="article_text full">
	    	<img alt="Conversation log interface icon." src="/img/site/icn-conversation-log.svg">
		    <h2>Conversation Log</h2>
		    <p>More than just an address book, All Natural Contact is a full featured contact relationship management app. The centerpiece of which is the Conversation Log, a place for you and your team members to record interactions with your clients. Everyone on your team will be on the same page about who interacted with which clients and why.</p>
			</div>
			<img alt="All Natural Contact CRM conversation log" class="img_interface fit" src="/img/site/anc-interface-conversation-1024.svg">
			<img alt="All Natural Contact CRM conversation log" class="img_interface_mobile" src="/img/site/anc-interface-conversation-320mobile.svg">
		</div>
  </article>

  <article>
		<div class="article_wrap">
	    <h1>Everyone neatly organized.</h1>
			<div class="article_text partial left">
		    <img alt="Standard Tags icon." src="/img/site/icn-standard-tags.svg">
		    <h2>Standard Tags</h2>
		    <p>Clients are often uniquely connected with one another. Good old fashioned tags allow you to reflect these connections in All Natural Contact. Tag all of your company’s top prospects or tag every member of your marketing team. See everyone linked to that tag in an instant.</p>
			</div>
			<div class="img_interface partial right">
				<img alt="All Natural Contact CRM standard tags." class="img_interface" src="/img/site/anc-interface-tags-1024.svg">
			</div>
			<img alt="All Natural Contact CRM standard tags." class="img_interface_mobile" src="/img/site/anc-interface-tags-320mobile.svg">
		</div>
  </article>

  <article>
		<div class="article_wrap">
	    <h1>Your procedures. Your way.</h1>
			<div class="img_interface partial left">
				<img alt="All Natural Contact CRM process tags." class="img_interface" src="/img/site/anc-interface-contact-1024.svg">
			</div>
			<div class="article_text right">
		    <img alt="Process Tags icon." src="/img/site/icn-process-tags.svg">
		    <h2>Process Tags</h2>
		    <p>Repeatable procedures help businesses run smoothly. Process Tags allow you to connect your procedures to specific sets of clients. Once clients have been placed into a process tag each milestone connected with that tag becomes an item in a checklist on their page.</p>
			</div>
			<img alt="All Natural Contact CRM process tags." class="img_interface_mobile" src="/img/site/anc-interface-process-320mobile.svg">
		</div>
  </article>

  <article>
		<div class="article_wrap">
	    <h1>Instant follow up lists.</h1>
			<div class="article_text left">
		    <img alt="Reminder Tags icon." src="/img/site/icn-reminder-tags.svg">
		    <h2>Reminder Tags</h2>
		    <p>If you have clients who need to be contacted weekly or monthly (or any length of time you determine) simply create a Reminder Tag. Anyone linked with the tag, whose last entry in the Conversation Log exceeds the set timeframe will be moved to the top of the list. The amount of time the client is overdue for a call or an email will appear next to their name - an instant follow up list.</p>
			</div>
			<div class="img_interface partial right">
				<img alt="All Natural Contact CRM reminder tags." class="img_interface" src="/img/site/anc-interface-reminder-1024.svg">
			</div>
			<img alt="All Natural Contact CRM reminder tags." class="img_interface_mobile" src="/img/site/anc-interface-reminder-320mobile.svg">
		</div>
  </article>

  <article>
		<div class="article_wrap">
	    <h1>Device agnostic. Platform independent.</h1>
			<div class="article_text full">
		    <img alt="Responsive Web App icons." src="/img/site/icn-responsive-web-app.svg">
		    <h2>Responsive Web App</h2>
		    <p>Through the technique of responsive design All Natural Contact is functional and looks great on any size of device. Use a smart phone, tablet, laptop or desktop. All Natural Contact loves them all.</p>
		    <p>Because it is web based All Natural Contact works on any web connected system. It does not care if you use Apple, Android or Windows products. All Natural Contact provides the same great experience regardless of platform.</p>
			</div>
			<div class="img_devices"></div>
	    <div class="caption">Any device with a screen and an internet connection.</div>
		</div>
  </article>

  <article>
		<div class="article_wrap">
	    <h1>Additional cool stuff.</h1>
			<div class="article_text full">
		    <ul class="blue_bullet">
		      <li>Mobile Multi Select - An innovative new way to select multiple tags or contacts on mobile devices.</li>
		      <li>Speed Demon - Speed that dramatically decresses the lag generally associated with web apps.</li>
		      <li>Data Sync - Make a change in New York and it will instantly show up on your partners
		     computer in San Antonio.</li>
		    </ul>
			</div>
		</div>
  </article>

</template>
