<template name="pricing">
  <section>
    <div class="pricing_section_wrap">
      <!-- <h1>30 day free trial.</h1> -->
      <h1>Free during Beta.</h1>
  		<h2>Take a test drive.</h2>

      <div class="solo_pricing">
        <header class="pricing_header">
          One simple plan.
        </header>
        <div class="price">
          $15
          <div>per user per month</div>
        </div>
        <div class="price_details">
          Unlimitied Contacts<br>
          <hr>
          No Comitments
        </div>
        <a class="price_cta" href="#">Create Account</a>
        <div class="price_banner">Free during beta.</div>
      </div>

      <!-- <div class="sub_pricing">
        <header class="pricing_header">
          Basic
        </header>
        <div class="price">
          $20
          <div>per month</div>
        </div>
        <div class="price_details">
          5 Users<br>
          5,000 Contacts<br>
          <hr>
          No Per User Fees
        </div>
        <a class="price_cta" href="#">Choose Plan</a>
        <div class="price_banner">Free during beta.</div>
      </div>

      <div class="pricing">
        <header class="pricing_header">
          Plus
        </header>
        <div class="price">
          $45
          <div>per month</div>
        </div>
        <div class="price_details">
          15 Users<br>
          15,000 Contacts<br>
          <hr>
          No Per User Fees
        </div>
        <a class="price_cta" href="#">Choose Plan</a>
        <div class="price_banner">Free during beta.</div>
      </div>

      <div class="sub_pricing">
        <header class="pricing_header">
          Premium
        </header>
        <div class="price">
          $100
          <div>per month</div>
        </div>
        <div class="price_details">
          50 Users<br>
          50,000 Contacts<br>
          <hr>
          No Per User Fees
        </div>
        <a class="price_cta" href="#">Choose Plan</a>
        <div class="price_banner">Free during beta.</div>
      </div> -->
    </div>
  </section>
</template>
